# Environment variables for the backend

# MongoDB Connection URI
MONGODB_URI=mongodb://localhost:27017/pharmasupply

# JSON Web Token Secret
JWT_SECRET=your-jwt-secret

# Log Level (e.g., 'info', 'debug', 'warn', 'error')
LOG_LEVEL=info

# Port for the backend server
PORT=3000

# Private key for development wallet
DEV_PRIVATE_KEY="0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80"
